.basket {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
    width: 80%;
    border: 1px solid black;
    background-color: #ffffff;
    min-height: 250px;
    max-height: 300px;
    overflow: hidden;
}

.basket_info {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basket_info>p {
    text-align: center;
}

.second_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    justify-content: flex-start;
}


.price_box {
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.button-basket {
    background-color: #cd9042;
    border: 1px solid;
    border-radius: 10px;
    border-color: #cd9042;
    color: black;
    margin-right: 10px;
    align-content: center;
    align-items: center;
}


.image{
    width: 190px;
    height: 120px;
    object-fit: contain;
    object-position: center;
}


.basket_rating {
    display: flex;
}